@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    padding: 51px 71px 97px 75px;
    background: rgba(203, 197, 193, 0.35);
}

h1 {
    margin-bottom: 75px;
    text-align: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0E3C8A;
    
}

ul{
    display: flex;
    justify-content: space-between;
}

ul li {
    width: 30%;
    padding-top: 12px;
    padding-bottom: 28px;
    padding-left: 20px ;
    padding-right: 20px;
    list-style-type: none;
    background: #FFFFFF;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #2E7CDF;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;

}

ul li img {
    width: 398px;
    height: 206px;
}

ul li p {
    width: 324px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #051E55;
}

.clock-photo {
    width: 29px;
    height: 27px;
    margin-right: 10px;

}

.date-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.date{
    margin-top: 17px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {

.main{
    padding: 51px 0 97px 0;
}

ul{
    flex-direction: column;
    gap: 40px;
}

ul li{
    width: 60%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.date{
    margin-top: 0;
}

}

@media only screen and (max-width: 635px) {
   
    ul{
        gap: 20px;
    }

    ul li img {
        width: 200px;
        height: 100px;
    }

    ul li p{
        font-size: 16px;
    }

    .clock-photo{
        width: 15px;
        height: 14px;
        margin-right: 5px;
    }

    .date-text{
        font-size: 10px;
    }
}
